<!doctype html>
<html>
<head>
    <title>About <%= appData.appName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<h1>About <%= appData.appName %></h1>
<p>This application helps you track workouts including duration, intensity, calories and progress over time.</p>
</body>
</html>
