<!doctype html>
<html>
<head>
    <title>Welcome to <%= appData.appName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<h1>Welcome to <%= appData.appName %></h1>

<p><a href="/about">About</a></p>
<p><a href="/users/register">Register</a></p>
<p><a href="/users/login">Log In</a></p>

<h2>Workout Pages</h2>
<p><a href="/workouts/add">Add Workout</a></p>
<p><a href="/workouts/list">Your Workout History</a></p>
<p><a href="/workouts/search">Search Workouts</a></p>
<p><a href="/workouts/stats">Your Fitness Stats</a></p>

<p><a href="/api/workouts">Workouts API</a></p>
<p><a href="/logout">Log Out</a></p>

</body>
</html>
