<!doctype html>
<html>
<head>
    <title>Search Workouts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>

<h1>Search Your Workouts</h1>

<form method="GET" action="/workouts/search-result">
    <p>Workout name: <input type="text" name="keyword" /></p>
    <input type="submit" value="Search" />
</form>

</body>
</html>
