<!doctype html>
<html>
<head>
    <title>Your Stats</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>

<h1>Your Fitness Stats</h1>

<p>Total Minutes Exercised: <%= stats.totalMinutes || 0 %></p>
<p>Total Calories Burned: <%= stats.totalCalories || 0 %></p>

</body>
</html>
